body {
    margin: 0;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('../fonts/PPNeueMontreal-Regular.otf');
  src: url('../fonts/PPNeueMontreal-Regular.woff2') format('woff2'), url('../fonts/PPNeueMontreal-Regular.woff') format('woff'), url('../fonts/PPNeueMontreal-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('../fonts/PPNeueMontreal-Medium.otf');
  src: url('../fonts/PPNeueMontreal-Medium.woff2') format('woff2'), url('../fonts/PPNeueMontreal-Medium.woff') format('woff'), url('../fonts/PPNeueMontreal-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('../fonts/PPNeueMontreal-Bold.otf');
  src: url('../fonts/PPNeueMontreal-Bold.woff2') format('woff2'), url('../fonts/PPNeueMontreal-Bold.woff') format('woff'), url('../fonts/PPNeueMontreal-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'tan-grandeur';
  src: url('../fonts/TAN-GRANDEUR.otf');
  src: url('../fonts/TAN-GRANDEUR.woff2') format('woff2'), url('../fonts/TAN-GRANDEUR.woff') format('woff'), url('../fonts/TAN-GRANDEUR.ttf') format('truetype');
  font-weight: 500;
}

/* ... HERO SECTION ... */

.hero {
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 0;
    height: 100vh;
    display: inline;
    position: relative;
}

#back-video {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    overflow-x: hidden;
}

video {
object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.hero-content h1 {
    font-family: 'tan-grandeur';
    color:#E2C2E5;
    font-size: 72px;
    font-weight: 500;
    letter-spacing: -25%;
    text-align: left;
    line-height: normal;
    margin-top: 150px;
    margin-bottom: 30px;
    padding-left: 10%;
}

.hero-content {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (min-width:550px) and (max-width:950px){
  .hero-content h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width:550px){
  .hero-content h1 {
    font-size: 54px;
  }
}
